/* ==== IMPORTS ==== */
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Montserrat:wght@100;200;300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ====+++ FONTS +++==== */

/* Adjust size and weight in tailwind */
.headFont {
  font-family: 'Montserrat', sans-serif;
}

.bodyFont {
  font-family: 'Cardo', serif;
}

/* ====+++ COLOUR PALLETTE +++==== */

/* COLOUR FOR BACKGROUNDS */
.bgDark {
  background-color: #191e22;
}

.bgLight {
  background-color: #f5f5f5;
}

.bgCream {
  background-color: #efede6;
}

.bgLogo {
  background-color: #efefef;
}

.bg1 {
  background-color: #d9597b;
}

.bg2 {
  background-color: #873f7b;
}

.bg3 {
  background-color: #52efb2;
}

.bg4 {
  background-color: #459bd7;
}

.bg5 {
  background-color: #3d4efa;
}

.bg6 {
  background-color: #f9a15d;
}

/* COLOUR FOR FONTS */

.dark {
  color: #191e22;
}

.light {
  color: #f5f5f5;
}

.c1 {
  color: #d9597b;
}

.c2 {
  color: #873f7b;
}

.c3 {
  color: #52efb2;
}

.c4 {
  color: #459bd7;
}

.c5 {
  color: #3d4efa;
}

.c6 {
  color: #f9a15d;
}

body {
  background-color: #191e22;
}

/* ===== ANIMATIONS ===== */

/* ===== ERROR ==== */
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid #d9597b;
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid #d9597b;
}

/* ===== Graph ==== */

